body {
    background-color: rgb(100, 0, 0);
}

.greenie {
    color: rgb(48, 163, 3);
    font-weight: bold;
}


.greennice {
    color: rgb(52, 196, 8);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}